services:
    postgres:
        image: postgres:latest
        container_name: postgres
        hostname: postgres
        environment:
            POSTGRES_USER: ${DATABASE_USER}
            POSTGRES_DB: ${DATABASE_NAME}
            POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
            TZ: Asia/Tashkent
            PGTZ: Asia/Tashkent
        volumes:
            - postgres_data:/var/lib/postgresql
            - ./logs:/var/log/postgresql
        command: >
            postgres -c logging_collector=on
                     -c log_directory=/var/log/postgresql
                     -c log_filename=postgresql.log
                     -c log_statement=all
                     -c log_connections=on
                     -c log_disconnections=on
                     -c log_destination=stderr,csvlog
                     -c log_rotation_age=1d
                     -c shared_preload_libraries=pg_stat_statements
                     -c pg_stat_statements.track=all
        restart: unless-stopped
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "pg_isready -U $${DATABASE_USER} -d $${DATABASE_NAME}",
                ]
            interval: 5s
            timeout: 5s
            retries: 5
            start_period: 20s
        ports:
            - "5432:5432"

    nginx:
        image: nginx:alpine
        container_name: nginx
        restart: unless-stopped
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
            - ./certs:/etc/nginx/certs:ro
        extra_hosts:
            - "host.docker.internal:host-gateway"



volumes:
    postgres_data:
