@import "@jahonbozor/ui/globals.css";

@source "../node_modules/@jahonbozor/ui/src";

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --color-foreground: #1f2937;
    --color-muted-foreground: #9ca3af;
    --color-background: #f5f5f7;
    --color-surface: #fff;
    --color-surface-muted: #d9d9d9;
    --color-muted: #e5e7eb;
    --color-accent: #ff8237;
    --color-accent-foreground: #fffbdc;
    --color-accent-muted: #ffaa6e;
}

body {
    font-family: var(--font-montserrat);
}
